<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cambiar contraseña - Wasipet</title>
</head>
<body>
    <div>
        <h3> Hola {{data.name}},</h3>
        <p>Recibimos una solicitud para restablerceer tu copntraseña, has click en botón Cambiar Contraseña para elegir una nueva contraseña </p>
        <a href="https://cecitel.com.pe/reset-password/{{data.hash}}"> Cambiar Contraseña </a>
        {{!-- <h2>{{codigo}}</h2> --}}
    </div>
</body>
</html>